.my-border {
  border: 5px solid #ff24a4 !important;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.header h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ff24a4;
}

.avatar img {
  width: 150px;
  margin: 20px 0;
}

.category-tabs {
  margin-bottom: 15px;
}

.tab-btn {
  padding: 8px 16px;
  margin: 0 5px;
  border: 2px solid #ff24a4;
  background: white;
  color: #ff24a4;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.tab-btn.active,
.tab-btn:hover {
  background: #ff24a4;
  color: white;
}

.category-options {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.category-options img {
  width: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
}

.category-options img:hover {
  border-color: #ff24a4;
  transform: scale(1.1);
}

/* hidden class */
.hidden {
  display: none !important;
}

.done-btn,
.next-btn {
  margin-top: 20px;
  text-align: center;
}
.done-btn button,
.next-btn button,
#reset {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  border: 2px solid #ff24a4;
  color: #df168c;
}
#done:hover,
#next:hover,
#reset:hover {
  background: #ff24a4;
  transform: scale(1.1);
  color: white;
}
/* avatar */
#clothes-step h2 {
  color: #ff24a4;
}
.avatar {
  position: relative;
}

#hair-layer {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 184px;
  z-index: 2;
}
#eyes-layer {
  position: absolute;
  top: 53px;
  left: 44px;
  width: 100px;
  z-index: 1;
}
#clothes-layer {
  position: absolute;
  top: 131px;
  left: 20px;
  width: 131px;
  z-index: 4;
}
