* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 120vh;
  background-image: url(images/pics.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #0091ff;
}
