:root {
  --blue: #0091ff;
  --yellow: #f3cf00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(images/bg-web2.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #0091ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
}

.my-body .content h1 {
  font-size: 3.5rem;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  color: var(--blue);
  -webkit-text-stroke: 1px #4db2ff;
}
.my-body .content h1:nth-child(3) {
  color: var(--yellow);
  -webkit-text-stroke: 1px #ffe75e;
  font-size: 4.5rem;
  position: relative;
  bottom: 10px;
}
.my-body .content h1:nth-child(2) {
  font-size: 1.5rem;
  top: 60px;
  position: absolute;
}

.my-body .content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.star {
  position: absolute;
  top: -40px;
  height: 200px;
  min-width: 500px;
  z-index: -1;
}
.animate-text span {
  display: inline-block; /* needed so each letter animates individually */
  opacity: 0; /* hidden first */
}

/* */
.my-border {
  border: 10px solid #2457ff !important;
  border-radius: 10px;
  background-color: #f5f8ff; /* your chosen fill color */
  min-width: 360px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  flex-direction: column;
  justify-content: space-between;
}
.item {
  margin: 50px;
}

/* @media (max-width: 700px) {
  .my-body {
    background-image: url(images/bg-mobile.png);
    background-size: cover;
    background-position: center bottom;
  }
} */
