* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url(images/bg-blur.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0091ff;
  transition: opacity 0.5s ease;
  opacity: 1;
}
h1 {
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
}
body button {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
  padding: 15px 30px;
  border: 3px solid #0091ff;
  transition: transform 0.2s ease;
  color: #00457a;
}
button:hover {
  transform: scale(1.05);
}
.rotate-warning {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}
.rotate-warning img {
  width: 50%;
  border-radius: 10px;
  height: auto;
  border: 2px solid #000;
}
.content {
  display: none;
  color: #0085eb;
  position: relative;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content h1 {
  font-size: 4rem;
  max-height: 10px 10px;
}
.content h1:nth-child(2) {
  color: #f3cf00;
  font-size: 6.5rem;
}
.content h1:nth-child(3) {
  position: absolute;
  top: 65px;
  right: -15px;
  font-size: 1.5rem;
  transform: rotate(-15deg);
}
.letter {
  display: inline-block;
}

h2 {
  border: 1px solid black;
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0;
}
.modal-title {
  color: #f8bd3a;
  -webkit-text-stroke: 0.1px rgb(194, 194, 194);
  font-size: 2rem;
}
.content input {
  padding: 5px;
  font-family: "Pixelify Sans", sans-serif;
  width: 100%;
  background-color: #fff7d8;
}
.content .modal-content {
  background-color: #047cf8;
}
.modal-footer button {
  background-color: #f8bd3a;
  color: #047cf8;
}
@media (max-width: 768px) {
  body {
    background-image: url(images/bgMobileBlur.png);
    background-size: cover;
    background-position: center bottom;
  }
  h2 {
    display: none;
  }
}
